.h2-intro-1 {
	opacity: .7;
	margin-bottom: -25px;
	font-family: "Times", sans-serif;
	font-weight: 700;
	font-style: italic;
	font-size: 46px; 
}

.h1-intro-2 {
	font-family: "Open Sans", sans-serif;
	font-style: latin;
	font-weight: 700;
	font-size: 100px;
	margin-bottom: 20px;
}

.h4-1-features, .h4-about {
  font-family: "Open Sans", sans-serif;
	font-weight: 700;
	margin: 20px 0;
}

.h4-about {
	margin-top: 80px;
}

.h2-around {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 100px;
}

.h3-area-1 {
  font-family: "Open Sans", sans-serif;
	font-weight: 700;
}
.h3-area-1, .h3-area-2 {
	margin-top: 40px;
	font-size: 24px;
	color: #2497b6;
}

.h5-area {
	color: #acb4bf;
	margin-bottom: 28px;
	margin-left: 45px;
}