@media (max-width: 767px) {
  .section-intro {
  	height: 450px;
  	background-size: 100% 100%;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .section-intro {
    height: 550px;
    background-size: 100% 100%;
  }
}

@media (min-width: 1000px) {
	.section-intro {
		height: 600px;
		background-size: 100% 100%;
	}
}