.icon-in-features-1, .icon-in-features-2, .icon-in-features-3 {
	border: 2px solid black;
	display: inline-block;
	padding: 35px;
	color: #30788b;
}

.icon-in-features-2 {
	padding: 35px 43px;
}

.icon-in-features-3 {
	padding: 35px 37px;
}

.icon-in-features-1:hover, .icon-in-features-2:hover, .icon-in-features-3:hover {
	background-color: #30788b;
	color: white;
	transition: all .5s;
}

.iphone-img {
	width: 100%;
	height: auto;
}

.dropdown-menu {
	min-width: 100px;
}

.dropdown-toggle {
	margin-right: 20px;
}

blockquote {
	border: none;
}

.carousel-inner {
	color: white;
}

.carousel-indicators {
	bottom:-20px
}

.row-around-2 {
	background-color: #f7f7f7;
	padding: 20px 0;
}

.row-area {
	border-bottom: 1px solid #e3e4e8;
}

.number {
	background-color: #2497b6;
	color: white;
	border-radius: 5px;
	margin-right: 10px;
	padding: 5px 10px;
}

.col-area {
	max-height: 450px;
	overflow-y: scroll;
}

.img-carousel-1 {
	width: 150px;
	margin-bottom: 20px;
}

.carousel-indicators li{
	background-color: #3f4d51;
	border: none;
}
