.section-intro {
	background-image: url('../images/backgrounds/section-intro-background.png');
	background-repeat: no-repeat;
	display: block;
	background-position: -100px 0;
	min-width: 100%;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
	min-height: 800px;
	padding-top: 20px;
}