.section-intro {
	display: block;
	background-image: url('../images/backgrounds/section-intro-background.png');
	background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 800px; 
	padding-top: 20px;
}

.section-features {
	padding-top: 100px;
}

.section-about {
	background-color: #f7f7f7;
	padding-top: 100px;
}